/.idea/.idea.Deye_Battery_CAN_BUS.dir/.idea/projectSettingsUpdater.xml
/.idea/.idea.Deye_Battery_CAN_BUS.dir/.idea/workspace.xml
/CAN2JSON/.idea/.idea.CAN2JSON.dir/.idea/indexLayout.xml
/CAN2JSON/.idea/.idea.CAN2JSON.dir/.idea/projectSettingsUpdater.xml
/CAN2JSON/.idea/.idea.CAN2JSON.dir/.idea/vcs.xml
/CAN2JSON/.idea/.idea.CAN2JSON.dir/.idea/workspace.xml
/CAN2JSON/bin/Debug/net7.0/runtimes/linux-arm/native/libSystem.IO.Ports.Native.so
/CAN2JSON/bin/Debug/net7.0/runtimes/linux-arm64/native/libSystem.IO.Ports.Native.so
/CAN2JSON/bin/Debug/net7.0/runtimes/linux-x64/native/libSystem.IO.Ports.Native.so
/CAN2JSON/bin/Debug/net7.0/runtimes/osx-arm64/native/libSystem.IO.Ports.Native.dylib
/CAN2JSON/bin/Debug/net7.0/runtimes/osx-x64/native/libSystem.IO.Ports.Native.dylib
/CAN2JSON/bin/Debug/net7.0/runtimes/unix/lib/net7.0/System.IO.Ports.dll
/CAN2JSON/bin/Debug/net7.0/runtimes/win/lib/net7.0/System.IO.Ports.dll
/CAN2JSON/bin/Debug/net7.0/appsettings.Development.json
/CAN2JSON/bin/Debug/net7.0/appsettings.json
/CAN2JSON/bin/Debug/net7.0/CAN2JSON.deps.json
/CAN2JSON/bin/Debug/net7.0/CAN2JSON.dll
/CAN2JSON/bin/Debug/net7.0/CAN2JSON.exe
/CAN2JSON/bin/Debug/net7.0/CAN2JSON.pdb
/CAN2JSON/bin/Debug/net7.0/CAN2JSON.runtimeconfig.json
/CAN2JSON/bin/Debug/net7.0/Microsoft.OpenApi.dll
/CAN2JSON/bin/Debug/net7.0/Swashbuckle.AspNetCore.Swagger.dll
/CAN2JSON/bin/Debug/net7.0/Swashbuckle.AspNetCore.SwaggerGen.dll
/CAN2JSON/bin/Debug/net7.0/Swashbuckle.AspNetCore.SwaggerUI.dll
/CAN2JSON/bin/Debug/net7.0/System.IO.Ports.dll
/CAN2JSON/obj/Debug/net7.0/ref/CAN2JSON.dll
/CAN2JSON/obj/Debug/net7.0/refint/CAN2JSON.dll
/CAN2JSON/obj/Debug/net7.0/staticwebassets/msbuild.build.CAN2JSON.props
/CAN2JSON/obj/Debug/net7.0/staticwebassets/msbuild.buildMultiTargeting.CAN2JSON.props
/CAN2JSON/obj/Debug/net7.0/staticwebassets/msbuild.buildTransitive.CAN2JSON.props
/CAN2JSON/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
/CAN2JSON/obj/Debug/net7.0/apphost.exe
/CAN2JSON/obj/Debug/net7.0/CAN2JSON.AssemblyInfo.cs
/CAN2JSON/obj/Debug/net7.0/CAN2JSON.AssemblyInfoInputs.cache
/CAN2JSON/obj/Debug/net7.0/CAN2JSON.assets.cache
/CAN2JSON/obj/Debug/net7.0/CAN2JSON.csproj.AssemblyReference.cache
/CAN2JSON/obj/Debug/net7.0/CAN2JSON.csproj.CopyComplete
/CAN2JSON/obj/Debug/net7.0/CAN2JSON.csproj.CoreCompileInputs.cache
/CAN2JSON/obj/Debug/net7.0/CAN2JSON.csproj.FileListAbsolute.txt
/CAN2JSON/obj/Debug/net7.0/CAN2JSON.dll
/CAN2JSON/obj/Debug/net7.0/CAN2JSON.GeneratedMSBuildEditorConfig.editorconfig
/CAN2JSON/obj/Debug/net7.0/CAN2JSON.genruntimeconfig.cache
/CAN2JSON/obj/Debug/net7.0/CAN2JSON.GlobalUsings.g.cs
/CAN2JSON/obj/Debug/net7.0/CAN2JSON.MvcApplicationPartsAssemblyInfo.cache
/CAN2JSON/obj/Debug/net7.0/CAN2JSON.MvcApplicationPartsAssemblyInfo.cs
/CAN2JSON/obj/Debug/net7.0/CAN2JSON.pdb
/CAN2JSON/obj/Debug/net7.0/staticwebassets.build.json
/CAN2JSON/obj/CAN2JSON.csproj.nuget.dgspec.json
/CAN2JSON/obj/CAN2JSON.csproj.nuget.g.props
/CAN2JSON/obj/CAN2JSON.csproj.nuget.g.targets
/CAN2JSON/obj/project.assets.json
/CAN2JSON/obj/project.nuget.cache
/CAN2JSON/obj/project.packagespec.json
/CAN2JSON/obj/rider.project.restore.info
